* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-labels {
  padding: 10px !important;
  color: #fff !important;
  /* DEIXA O CURSOR COMO SELEÇÃO DE MENU */
  cursor: pointer;
}

.history-background {
  background-image: url("../elements/background3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.index-background {
  background-image: url("../elements/background1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.card-classy {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;

  width: 35rem;
  text-align: center;
  color: #fff;

  padding: 20px;
}

.history-card-position {
  margin: 100px 40px 40px 40px;
}

.card-classy hr {
  border: 4px solid black;
  border-radius: 10px;
}
