.nav-labels {
  padding: 10px !important;
  color: #fff !important;
  /* DEIXA O CURSOR COMO SELEÇÃO DE MENU */
  cursor: pointer;
}

.text-insight {
  text-align: center;
  color: black;
}

.top-right {
  position: absolute;
  top: 40%;
  left: 49%;
  line-height: 1.4;
  background-color: #fdf3e9;
  margin-right: 100px;
  border-radius: 1px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top-right-two {
  position: absolute;
  top: 15%;
  right: 50%;
  left: 2%;
  line-height: 1.4;
  background-color: #feebcc;
  margin-right: 100px;
  border-radius: 1px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.style-hr {
  border: 3px solid black;
}